.judul span {
    font-size: 30px;
    font-weight: bold;
    padding: 5px 10px;
}

.btn {
    border-radius: 10px;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.24);
}

.isidetailF {
    margin: auto;
    background-color: #f7f7f7;
}

.isidetailF h1{
    font-size: 3.5rem;
    font-weight: bold;
}

.isidetailF p{
    font-size: 1.1rem;
    min-height: 25vh;
}

.backgroundDesc {
    background-color: #f7f7f7;
    min-height: 100vh;
}

.pictF img{
    border-radius:20px !important;
}

.modal-content {
    background-color: #FAFAFA;
}

.modal-dialog{
    max-width: 600px;
}

.modal-header{
    border:none;
}

.modal-title{
    font-weight: bold;
    font-size: 50px;
}

.modal .form-group label{
    font-size: 18px;
}

.modal .form-group input{
    padding:20px 10px;
    font-size: 15px;
}

.modal-btn{
    margin-top:30px;
}

.modal-btn button{
    border-radius: 10px;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.24);
    min-width: 15vh;
}


@media(max-width:410px){
    .bookingForm-title span{
        font-size: 32px;
    }
}