.isi-manager-table{
    min-height: 80vh;
}

.judul span {
    font-size: 30px;
    font-weight: bold;
    padding: 5px 3px 5px 10px;
}

.btn {
    border-radius: 10px;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.24);
}

.operation form button {
    border: none;
    background-color: transparent;
}

.operation form img {
    min-width: 20px;
}
