footer {
    background-color: black;
}

footer .footer-details .footer-logo {
    color: white;
    font-size: 36px;
    margin-bottom: 5px;
}

footer .footer-details .footer-logo span {
    color: #ffb13e;
}

footer .footer-details .footer-desc {
    color: white;
    font-size: 15px;
}

footer .footer-nav {
    text-decoration: none;
    list-style-type: none;
}
footer .footer-nav a {
    color: white;
}

footer .footer-note {
    margin-top: 25px;
    font-size: 10px;
    color: white;
}

footer .nav-link {
    transition: 0.2s;
}

footer .nav-link:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #ffb13e;
    transition: 0.2s;
}

footer .nav-link:hover:after {
    width: 100%;
}

footer .nav-link:hover {
    color: #ffb13e;
    transition: 0.2s;
}
