.ournavbar .nav-link{
    transition: 0.2s;
}

.ournavbar .nav-link:after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #FFB13E;
    transition: 0.2s;
}

.ournavbar .nav-link:hover:after{
    width: 100%;
}

.ournavbar .nav-link:hover{
    color: #FFB13E;
    transition: 0.2s;
}

.ournavbar{
    background-color: rgba(0, 0, 0, 1);
    transition: 0.2s;
}
.ournavbar a{
    color: white;
    text-decoration: none!important;
    font-weight: 700;
    font-size: 20px;
}
.ournavbar .navbar-brand{
    font-size: 30px;

}
.ournavbar .navbar-brand span{
    color: #FFB13E;
}
.ournavbar-scrolled {
    background-color: rgba(0, 0, 0, 0);
    transition: 0.2s;
}

.ournavbar-scrolled .navbar-brand{
    color: black;
}