.isihome {
    min-height: 80vh;
}

.card {
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.24);
}

.card-text {
    font-size: 20px;
    transition: 0.2s;
}

.card img {
    border-radius: 0.25rem;
}

.box-home a{
    text-decoration: none;
    color: black;
}

.box-choices{
    background-color: white;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.24);
    width: 100%;
    padding: 50px;
    border-radius: 25px;
    transition: 0.2s;
}

.box-choices:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

@media(max-width:441px){
    .box-choices{
        padding: 30px;
    }
}