.isihome {
    min-height: 80vh;
}

.card {
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.24);
}

.card-title {
    font-size: medium;
}

.card img {
    border-radius: 0.25rem;
}

.isihome .box-home a:hover{
    color:black;
    text-decoration: none;
    transition-duration: 2s ;
}

.isihome .box-home a div:hover{
    color:black;
    transform : scale(1.1);
}